@model GAX.Core.Models.Product

@{
    ViewBag.Title = "Cancella";
}

<h2>Cancella</h2>

<h3>Sei sicuro di voler cancellare il prodotto <u>@Model.Name</u>?</h3>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Cancella" /> |
        @Html.ActionLink("Torna alla lista", "Index")
    </p>
}
